.app-wrap { background: url("../images/img_header_bg.jpg") repeat-x; overflow: hidden; min-width: 1200px; }

/* scroll bar begin */
.mCSB_draggerRail { background: #ddd!important; }
.mCSB_dragger_bar { background: #2f87dc!important; }
.mCSB_container,
.mCustomScrollBox { overflow: visible }
.mCSB_inside>.mCSB_container { margin-right: 0; }
.mCSB_container_wrapper { margin-right: 0; margin-bottom: 0; }
.mCSB_scrollTools_vertical .mCSB_draggerRail { width: 4px; }
.mCSB_scrollTools_horizontal .mCSB_draggerRail { height: 4px!important; margin: 0!important; }
.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar { margin: 0!important;; }

.mCSB_scrollTools_vertical { width: 4px; }
.mCSB_scrollTools_horizontal { height: 4px!important; }
.mCSB_dragger_bar, .mCSB_draggerRail {  }

/* scroll bar end */

.mouse-hand { cursor: pointer; }

/***** buttonStyle begin *****/
.btn-click,
.btn-input,
.btn-select {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-readonly-enabled input,
.input-readonly-disabled input {
  cursor: pointer;
}
.input-readonly-enabled input {
  background: #fff;
}
.input-readonly-disabled input {
  background: #f5f5f5;
}

.btn,
.btn-o {
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-f12 { font-size: 12px; line-height: 1.66666667; }
.btn-f14 { font-size: 14px; line-height: 1.57142857; }
.btn-f16 { font-size: 16px; line-height: 1.5; }
.btn-f18 { font-size: 18px; line-height: 1.44444444; }
.btn-f20 { font-size: 20px; line-height: 1.4; }

.btn-block { display: block; width: 100%; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  /*outline: 5px auto -webkit-focus-ring-color;*/
  outline-offset: -2px;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-upload { overflow: hidden; position: relative; }
.btn-upload input[type="file"],.btn-upload .file {
  cursor: pointer;
  font-size: 16px;
  width: 600px;
  height: 100%;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 999;
}
/***** buttonStyle end *****/

.bg-color-white { background: #fff; }

/* app */
.app-wrap {  }
.app-wrap .header { background: #0096ff; }
.app-wrap .main {  }
.app-wrap .left-box {  }
.app-wrap .right-box {  }

.app-wrap .normal .left-box { width: 220px; }
.app-wrap .normal .exchange-menu-style { cursor: pointer; }
.app-wrap .normal .icon-hLine { background: #144d98; }
.app-wrap .normal .right-box { padding-left: 220px; }

.app-wrap .crumb-box { background: #fff; opacity: .6; }
.app-wrap .menu-box-wrap { background: #e4efff; }
.app-wrap .menu-box-wrap .menu-name { background: #ebf0f6; }
.app-wrap .menu-box-wrap .menu-box { background: #e4efff; }
.app-wrap .menu-box-wrap .menu-list {  }
.app-wrap .menu-box-wrap .menu-list-item { border-bottom: 1px dashed #ddd; }

.app-wrap .main-content-wrap {  }
.app-wrap .main-content { background: #f5f5f5; }

/* nav-menu */

.tree-menu-item-1 { border-bottom: 1px solid #ccc; }
.tree-menu-item-2,
.tree-menu-item-3 { border-top: 1px solid #ccc; }

.menu-button .menu-button-icon-right {
	    -ms-transform: rotate(0deg); 	/* IE 9 */
	   -moz-transform: rotate(0deg); 	/* Firefox */
	-webkit-transform: rotate(0deg); /* Safari and Chrome */
	     -o-transform: rotate(0deg);
	        transform: rotate(0deg);
	transition-duration: .2s;
}
.menu-button-opened .menu-button-icon-right {
	-ms-transform: rotate(180deg); 	/* IE 9 */
	-moz-transform: rotate(180deg); 	/* Firefox */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.menu-link-lv1,
.menu-button-lv1 {
	height: 50px;
	line-height: 50px;
	padding: 0 20px 0 40px;
}
.menu-link-lv1 .menu-link-name,
.menu-button-lv1 .menu-button-name { font-size: 16px; }
.menu-link-lv1 .menu-link-icon-left,
.menu-button-lv1 .menu-button-icon-left,
.menu-button-lv1 .menu-button-icon-right {
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

.menu-link-lv1 .menu-link-icon-left,
.menu-button-lv1 .menu-button-icon-left {
	font-size: 16px;
	left: 20px;
}
.menu-button-lv1 .menu-button-icon-right {
	font-size: 30px;
	right: 20px;
}


.menu-link-lv2, .menu-button-lv2 {
	height: 40px;
	line-height: 40px;
	padding: 0 20px 0 40px;
}
.menu-link-lv2 .menu-link-name,
.menu-button-lv2 .menu-button-name { font-size: 14px; }
.menu-link-lv2 .menu-link-icon-left,
.menu-button-lv2 .menu-button-icon-left,
.menu-button-lv2 .menu-button-icon-right {
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
}
.menu-link-lv2 .menu-link-icon-left,
.menu-button-lv2 .menu-button-icon-left,
.menu-button-lv2 .menu-button-icon-left {
	font-size: 14px;
	left: 20px;
}
.menu-button-lv2 .menu-button-icon-right {
	font-size: 26px;
	right: 20px;
}

.menu-link-lv3,
.menu-button-lv3 {
	height: 30px;
	line-height: 30px;
	padding: 0 20px 0 60px;
}
.menu-link-lv3 .menu-link-name,
.menu-button-lv3 .menu-button-name { font-size: 12px; }
.menu-link-lv3 .menu-link-icon-left,
.menu-button-lv3 .menu-button-icon-left,
.menu-button-lv3 .menu-button-icon-right {
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
}
.menu-link-lv3 .menu-link-icon-left,
.menu-button-lv3 .menu-button-icon-left,
.menu-button-lv3 .menu-button-icon-left {
	font-size: 12px;
	left: 40px;
}
.menu-button-lv3 .menu-button-icon-right {
	font-size: 22px;
	right: 20px;
}

.nav-menu .router-link-exact-active { background: #0096ff; color: #fff; }

/* login page */
.login {}
.login .bg-pic-box {
	width: 3000px;
	height: 100%;
	margin-left: -1500px;
	position: absolute;
	left: 50%;
}
.login .login-box {
	background: rgba(255, 255, 255, 0.6);
}
.login .login-box .form-box {
	background: #fff;
}


/*换肤*/
.default {
	background: url("../images/img_header_bg.jpg") repeat-x; overflow: hidden; min-width: 1200px;
}
.default .menu-box-wrap {
	background: #e4efff;
}
.default .menu-box-wrap .menu-box {
	background: #e4efff;
	color: #333;
}
.color-blue {
	background: #3f68a0;
}

.color-blue .menu-box-wrap {
	background: #3f68a0;
}
.color-blue .menu-box-wrap .menu-box {
	background: #3f68a0;
	color: #333;
}
.color-green {
	background:#408972;
}
.color-green .menu-box-wrap {
	background:#408972;
}
.color-green .menu-box-wrap .menu-box {
	background:#408972;
	color:#333;
}
/*主题颜色切换高亮*/

.color-down {
	width: 100px;
	background: #fff;
	text-align: center;
	position: relative;
}
.color-down p {
	padding-top: 10px;
	padding-bottom: 10px;
}
.icon {
	width: 30px;
	height: 30px;
}
.icon1 {
	width: 22px;
	height: 22px;
	float: left;
	margin-left: 24px;
	margin-top: 2px;
}

.default .color-down p:hover {
	cursor: pointer;
	background: #e4efff;
}
.color-blue .color-down p:hover {
	cursor: pointer;
	background: #3f68a0;
}
.color-green .color-down p:hover {
	cursor: pointer;
	background: #408972;
}
/*皮肤css3动效*/
.box2-enter-active,.box2-leave-active {
	transition: opacity .8s
}
.box2-enter,.box2-leave-active {
	opacity: 0
}
/*当前主题颜色高亮*/
.redict-svg {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
}
.icon-redict {
	width: 12px;
	height: 12px;
}
/*setting*/
/*setting-organ*/

/*setting-permission*/

/*setting-user-manage*/

/*setting-account-record*/

/*setting-account-manage*/


/*sms*/
/*sms-group-sending*/
/*sms-quick-send*/
/*sms-sms-model*/
/*sms-up-sms-manage*/
/*sms-up-sms-model*/

/*mms*/
/*mms-mms-sending*/
/*mms-mms-model*/

/*statistical-query*/
/*statistical-query-account-record*/
/*statistical-query-account-change*/
/*statistical-query-amount-record*/
/*statistical-query-sms-sent*/
/*statistical-query-sms-type*/
/*statistical-query-blacklist*/


/*api-manage-http-sms*/
/*api-manage-web-service-mms*/
/*api-manage-cmpp-sms*/
/*api-manage-db-sms*/
/*api-manage-mm7-mms*/
/*api-manage-platform-parameter-setting*/
/*api-manage-platform-blacklist*/
/*api-manage-channel-record*/
/*api-manage-banned-word*/
/*api-manage-sending-norm*/
/*api-manage-province-network*/
/*api-manage-up*/
/*api-manage-status-error-code*/
/*api-manage-num-section*/
/*api-manage-channel-record*/
/*api-manage-bill*/
/*api-manage-dev-api-norm*/


